<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Países</title>
    <link rel="stylesheet" th:href="@{/css/paises.css}">
</head>
<body>
<h1>Lista de Países</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Provincias</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pais : ${paises}">
        <td th:text="${pais.id}"></td>
        <td th:text="${pais.nom}"></td>
        <td>
            <ul>
                <li th:each="provincia : ${pais.provincias}" th:text="${provincia.nom}"></li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
